<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <a href="https://coursetro.com/courses/12/Learn-Angular-4-from-Scratch">https://coursetro.com/courses/12/Learn-Angular-4-from-Scratch</a>
</div>
<div style="background-color: aquamarine;" *ngIf="showComponentItem">
  <h1>[2.- Components ]</h1>
  <app-my-new-component></app-my-new-component>
</div>

<div style="background-color: antiquewhite;" *ngIf="showTemplatingBasics">
  <h1>[3.- Templating basics ]</h1>
  <h1 *ngIf="myList">Here is your list</h1>
  <div *ngIf="showInternalTemplate; then InternalTmpl1 else InternalTmpl2"></div>
  <ul>
    <li *ngFor="let item of myList">{{item}}</li>
  </ul>
  <ng-template #InternalTmpl1>
    <h3>[1] This is an Internal template</h3>
    <h4>[showInternalTemplate] is {{showInternalTemplate}}</h4>
  </ng-template>
  <ng-template #InternalTmpl2>
    <h3>[2] This is an Internal template</h3>
    <h4>[showInternalTemplate] is {{showInternalTemplate}}</h4>
  </ng-template>
</div>
<div style="background-color: azure;" *ngIf="showPropertyBinding">
  <h1>[4.- Property Binding ]</h1>
  <button [disabled]="buttonStatus">Click me!!!</button><br/>
  <img src="{{angularLogo}}">
  <img [src]="angularLogo">
  <img bind-src="angularLogo">
</div>

<div style="background-color: blanchedalmond;" *ngIf="showEventBinding">
  <h1>[5.- Event Binding ]</h1>
  <button (click)="myEvent($event, '[Click]')">myClientEvent!!!</button>
  <button (mouseenter)="myEvent($event, '[MouseEnter]')" (mouseout)="myEvent($event, '[MouseOut]')">Mouse Enter+Out Event!!!</button>
</div>

<div style="background-color: blanchedalmond;" *ngIf="showDefiningStylesheets">
  <h1>[6.- Defining Stylesheets ]</h1>
</div>

<div style="background-color: blanchedalmond;" *ngIf="showClassBinding">
  <h1>[7.- Class Binding ]</h1>
  <h2 [class]="tittleClass">[set variable name] Hello world!!!</h2>
  <h2 [class.red-tittle]="showTittleClass">[set condition] Hello world!!!</h2>
  <h2 [ngClass]="tittleClasses">[set multiple classes at once] Hello world!!!</h2>
</div>

<div style="background-color: blanchedalmond;" *ngIf="showStyleBinding">
  <h1>[8.- Style Binding ]</h1>
  <h2 [style.color]="tittleStyle">[set variable name] Hello world!!!</h2>
  <h2 [style.color]="showTittleStyle ? 'green':'pink'">[set condition] Hello world!!!</h2>
  <h2 [ngStyle]="tittleStyles">[set multiple styles] Hello world!!!</h2>
</div>
<div style="background-color: blanchedalmond;" *ngIf="showServices">
  <h1>[9.- Services ]</h1>
  <h2>{{dataServiceTitle}}</h2>
  <ul>
    <li *ngFor="let car of cars">{{car}}</li>
  </ul>
</div>

<div style="background-color: blanchedalmond;" *ngIf="showAnimation">
  <h1>[10.- Animation ]</h1>
  <p [@myAwesomeAnimation]="state" (click)="animateMeClick()">Animate it!!!</p>
</div>
<div style="background-color: blanchedalmond;" *ngIf="showDeploy">
  <h1>[11.- Deploying your App ]</h1>
</div>
